.ptf-contact-section {
    background: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ptf-contact-container{
    padding-top: 40px;
}

.ptf-contact-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 20px;
}

.ptf-contact-title h1 {
    color: white;
    padding: 0 10px;
    font-size: 20px;
}

.ptf-more-contact {
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;

    color: white;

    padding: 10px 0;

}

.ptf-more-contact h1 {
    font-size: 14px;
    padding-bottom: 5px;
}

.ptf-more-contact h4 {
    font-size: 14px;
}

.ptf-social-card {
    display: flex;

    justify-content: center;
    flex-direction: row;
}

.ptf-social-contact {
    display: flex;
    align-items: center;

    padding: 10px;
}

.ptf-social-contact a {
    text-decoration: none;
    color: white;
}

.ptf-social-contact img {
    width: 25px;
    height: 25px;
}

.ptf-social-contact h1 {
    font-size: 12px;
    padding-left: 10px;
}


@media (min-width: 400px) {

    .ptf-social-card {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

@media (min-width:520px) {

    .ptf-social-card-contact{
        display: flex;
    }
}

@media(min-width: 720px) {

    .ptf-contact-title h1 {
        font-size: 20px;
    }

}

@media (min-width:900px) {

    .ptf-contact-container {
        display: flex;
        align-items: center;

    }

    .ptf-contact-title h1 {
        font-size: 40px;
    }

    .ptf-card-more-contact {
        padding: 50px;
    }

    .ptf-card-more-contact h1 {
        font-size: 18px;
    }

    .ptf-card-more-contact h4 {
        font-size: 18px;
    }

    .ptf-social-card-contact{
        flex-direction: row;
    }

    .ptf-social-card {
        display: flex;
        justify-content: center;
        flex-direction: colum;

        padding-top: 10px;
    }

    .ptf-social-contact {
        padding-top: 40px;
    }

    .ptf-social-contact img {
        width: 48px;
        height: 48px;
    }

    .ptf-social-contact a {
        font-size: 20px;
        padding-left: 10px;
    }

    .ptf-contact-form-container {
        display: flex;
    }
}