.ptf-ability-section {
    background-color: rgb(19, 19, 19);
    
}

.ptf-ability-container{
    padding-top: 40px;
}

.ptf-ability-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 20px;
}

.ptf-ability-title h1 {
    color: white;
    padding: 0 10px;
    font-size: 20px;
}


@media(min-width: 720px) {

    .ptf-ability-title h1 {
        font-size: 30px;
    }

}

@media(min-width: 900px) {
    .ptf-abiliti-section {
        height: 400px;
    }
}