.ptf-about-section {
    background: rgb(10, 10, 10);
}

.ptf-about-card {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 40px;
    color: white;
}

.ptf-about-title {
    padding: 48px;

    display: flex;
    align-items: center;
    flex-direction: row;
}

.ptf-about-title h1 {
    font-size: 24px;
    padding: 0 10px;
    text-align: center;
}

.ptf-about-description {
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
}

.ptf-about-description p {
    font-size: 14px;
}


@media (min-width:720px) {
    .ptf-about-title h1 {
        font-size: 30px;
    }

    .ptf-about-description p {
        font-size: 18px;
    }
}